.DS_Store
Makefile
Makefile.in
.deps
ylwrap
*.lo
*.o
*.a
.libs
aclocal.m4
autom4te.cache
*.la
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/doxyfile
include/config.h
include/config.h.in
include/sphinx_config.h
include/stamp-h1
include/stamp-h2
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
py-compile
sphinxbase.pc
src/sphinx_adtools/sphinx_cont_seg
src/sphinx_adtools/sphinx_pitch
src/sphinx_cepview/sphinx_cepview
src/sphinx_fe/sphinx_fe
src/sphinx_jsgf2fsg/sphinx_jsgf2fsg
src/sphinx_lmtools/sphinx_lm_convert
src/sphinx_lmtools/sphinx_lm_eval
swig/python/sphinxbase.py
swig/python/sphinxbase_wrap.c
test-driver
test/regression/testfuncs.sh
test/unit/testfuncs.sh
swig/sphinxbase_wrap.c
