ylwrap
*.log
*.o
*.trs
*.err
*.out
*.lo
*.bin
.*~
Makefile
Makefile.in
.libs/
.deps/

# build outputs

aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
doc/doxyfile
include/config.h
include/config.h.in
include/sphinx_config.h
include/stamp-h1
include/stamp-h2
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
py-compile
sphinxbase.pc
src/libsphinxad/libsphinxad.la
src/libsphinxbase/fe/libsphinxfe.la
src/libsphinxbase/feat/libsphinxfeat.la
src/libsphinxbase/libsphinxbase.la
src/libsphinxbase/lm/libsphinxlm.la
src/libsphinxbase/util/libsphinxutil.la
src/sphinx_adtools/sphinx_cont_seg
src/sphinx_adtools/sphinx_pitch
src/sphinx_cepview/sphinx_cepview
src/sphinx_fe/sphinx_fe
src/sphinx_jsgf2fsg/sphinx_jsgf2fsg
src/sphinx_lmtools/sphinx_lm_convert
src/sphinx_lmtools/sphinx_lm_eval
swig/python/_sphinxbase.la
swig/python/sphinxbase.py
swig/python/sphinxbase_wrap.c
test-driver
test/regression/chan3.2chan.wav.mfc
test/regression/chan3.raw.mfc
test/regression/chan3.sph.mfc
test/regression/chan3.wav.mfc
test/regression/test-sphinx_fe.cepview
test/regression/test-sphinx_fe.mfc
test/regression/test-sphinx_pitch.f0
test/regression/testfuncs.sh
test/unit/test_alloc/test_ckd_alloc
test/unit/test_alloc/test_ckd_alloc_abort
test/unit/test_alloc/test_ckd_alloc_catch
test/unit/test_alloc/test_ckd_alloc_fail
test/unit/test_alloc/test_listelem_alloc
test/unit/test_bitvec/test_bitvec
test/unit/test_case/chgCase
test/unit/test_cmdln/cmdln_parse
test/unit/test_cmdln/cmdln_parse_multiple
test/unit/test_cmdln/cmdln_parse_r
test/unit/test_fe/test_fe
test/unit/test_fe/test_pitch
test/unit/test_feat/test_feat
test/unit/test_feat/test_feat_fe
test/unit/test_feat/test_feat_live
test/unit/test_feat/test_subvq
test/unit/test_fsg/test_fsg_jsgf
test/unit/test_fsg/test_fsg_read
test/unit/test_fsg/test_fsg_write_fsm
test/unit/test_hash/deletehash
test/unit/test_hash/displayhash
test/unit/test_hash/test_hash_iter
test/unit/test_lineiter/test_lineiter
test/unit/test_logmath/test_log_int16
test/unit/test_logmath/test_log_int8
test/unit/test_logmath/test_log_shifted
test/unit/test_logmath/tmp.logadd
test/unit/test_matrix/test_determinant
test/unit/test_matrix/test_invert
test/unit/test_matrix/test_solve
test/unit/test_ngram/100.tmp.lm
test/unit/test_ngram/test_lm_add
test/unit/test_ngram/test_lm_casefold
test/unit/test_ngram/test_lm_class
test/unit/test_ngram/test_lm_read
test/unit/test_ngram/test_lm_score
test/unit/test_ngram/test_lm_set
test/unit/test_ngram/test_lm_write
test/unit/test_string/strtest
test/unit/test_string/test_atof
test/unit/test_thread/test_event
test/unit/test_thread/test_msgq
test/unit/test_thread/test_thread
test/unit/test_util/test_bit_encode
test/unit/test_util/test_bitarr
test/unit/test_util/test_build_directory
test/unit/test_util/test_filename
test/unit/test_util/test_fopen
test/unit/test_util/test_heap
test/unit/test_util/test_readfile
test/unit/testfuncs.sh
